/*Variáveis =============================*/
:root {
    --body:  #f0f2f5;
    --dark-blue: #363f5f;
    --background-header: #2d4a22;
    --white-color-base: #fff;
    --card-color-base: #fff;
    --card-text-color: #363f5f;
    --card-total-green: #49AA26;
    --button-green: #49AA26;
    --button-light-green: #3dd705;
    --button-cancel-red: #e92929;
    --total-red: red;
    --data-table-color: #969cb3;
    --text-help-color: #363f5f;
    --table-description-color: #363f5f;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

body {
    background-color: var(--body);
    font-family: 'Poppins', sans-serif;
}

/*Titles ===========================*/

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}


/* Header ===================================== */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--background-header);
    padding: 3rem 0 10rem;
    text-align: center;
}

img {
    color: var(--white-color-base);
    font-weight: 100;
}

/* Button Theme ======================================== */
#change-theme {
    opacity: 0;
}
#change-theme:checked + .label {
    background-color: #2a2c2e;
    
}

#change-theme:checked + .label .ball {
    background-color: purple;
    transform: translateX(20px);
}

.label{
    display: flex;
    background-color: #fff;
    height: 28px;
    width: 50px;
    padding: 3px;
    border-radius: 50px;
}

.ball {
    background-color: #2d4a22;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    position: absolute;
    transition: transform 0.3s linear;
}

/* Balance ================================================ */

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: var(--white-color-base);
}

/* Cards ======================================= */

.card {
    background-color: var(--card-color-base);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--card-text-color);
}

.card h3 { 
    font-weight: normal;   
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {
    background-color: var(--card-total-green);
    color: #fff;
}
.card.total.negative {
    background-color: var(--card-total-green);
    color: var(--total-red);
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;   
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* Links & buttons ==================================== */

a {
    color: var(--button-green);
    text-decoration: none;    
}

a:hover {
    color: var(--button-light-green);
}

button {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background: var(--button-green);
    padding: 0;
    border-radius: 0.2rem;
    cursor: pointer;
}

button:hover {
    background: var(--button-light-green);
}

.button.new {
    display: inline-block;
    margin-bottom: 0.8rem;
}

.button.cancel {
    height: 50px;
    color: var(--button-cancel-red);
    border: 2px var(--button-cancel-red) solid;
    /* background: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}

/* Table ========================================== */

#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}

#data-table {       
    border-spacing: 0 0.5rem;
    color: var(--data-table-color);
    width:100%;
    
}

table th {
    background-color: var(--white-color-base);
    font-weight: normal ;
    padding: 1rem 2rem;
    text-align: left;
}

table thead tr th:first-child, table tbody tr td:first-child  {
    border-radius: 0.25rem 0 0 0.25rem;
}
table thead tr th:last-child, table tbody tr td:last-child  {
    border-radius: 0 0.25rem 0.25rem 0;
}

table tbody td {
    background-color: var(--white-color-base);
    padding: 1rem 2rem;    
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

td.description {
    color: var(--table-description-color);
}

td.income {
    color: #32a454;
}

td.expense {
    color: #ff0000;
}

/* Modal ========================================== */

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal {
    background: var(--body);
    padding: 2.4rem;

    position: relative;
}

/* Form ====================================== */

#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;
    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.4;
}

.help {
    color: var(--text-help-color);
}

.input-group.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
    
}

/* Footer ============================================= */

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--card-text-color);
    opacity: 0.6;
    z-index: 1;
}

/* Responsive ======================================== */

@media(min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

/* Themes ======================================== */


body.dark{
    --body:  #2a2c2e;
    --dark-blue:#fff;
    --background-header: purple;
    --white-color-base: #fff;
    --card-color-base: #969cb3;
    --card-text-color: #fff;
    --card-total-green: #494649;
    --button-green: #49AA26;
    --button-light-green: #3dd705;
    --total-red: red;
    --button-cancel-red: #e92929;
    --data-table-color: #969cb3;
    --text-help-color: #fff;
    --table-description-color: #363f5f;  

    transition: 0.4s;
}

body.light {
    transition: 0.4s;
}
